.home-bg{
  background: $primary;
  height: 680px;
  .container{
    height: 100%;
    padding-top: 75px;
    padding-bottom: 66px;
    background-image: url("../../../assets/images/bg_home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .home-title{
      padding: 80px 45px;
      border: 1px solid #fff;
      background: $primary;
    }
    .square {
      width: 10px;
      height: 10px;
      background-color: #fff;
    }
    h1{
      background: linear-gradient(180deg,$info2,$info);
      background-clip:text;
      color:transparent;
      // font-size: 48px;
    }
  }
}

.class{
  background: $secondary;
  color: $white;
  // text-align:justify
  // height: 424px;
  h2{
    position: relative;
    padding-bottom: 16px;
    &::after{
      content: "";
      width: 50px;
      height: 1px;
      background: $info;
      // top: 0;
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }
  .item{
    width: 306px;
    height: 264px;
    &:hover{
      border: 1px solid $info;
      border-radius: 12px;
      span{
        color: aqua;
        // background: blue;
      }
    }
  }
}

.schedule{
  background: $primary;
  color: $white;
  // height: 490px;
  h2{
    position: relative;
    display: flex;
    justify-content: center;
    // text-align: center;
    &::after{
      content: "";
      width: 50px;
      height: 1px;
      background: $info;
      // top: 0;
      bottom: 0;
      position: absolute;
    }
  } 
  .schedule-text{
    border-radius: 12px;
    position: relative;
  }
  .t-1::before{
    content: "01";
    font-size: 48px;
    text-align: center;
    top: -36px;
    left: 48px;
    position: absolute;
    width: 62px;
    height: 56px;
    background: $primary;
    color: $info;
  }
  .t-2::before{
    content: "02";
    font-size: 48px;
    text-align: center;
    top: -36px;
    left: 48px;
    position: absolute;
    width: 62px;
    height: 56px;
    background: $primary;
    color: $info;
  }
  .t-3::before{
    content: "03";
    font-size: 48px;
    text-align: center;
    top: -36px;
    left: 48px;
    position: absolute;
    width: 62px;
    height: 56px;
    background: $primary;
    color: $info;
  }
  .t-4::before{
    content: "04";
    font-size: 48px;
    text-align: center;
    top: -36px;
    left: 48px;
    position: absolute;
    width: 62px;
    height: 56px;
    background: $primary;
    color: $info;
  }
}

.skill{
  background: $secondary;
  h2{
    position: relative;
    display: flex;
    justify-content: center;
    // text-align: center;
    &::after{
      content: "";
      width: 50px;
      height: 1px;
      background: $info;
      // top: 0;
      bottom: 0;
      position: absolute;
    }
  }
  .swiper-slide{
    margin: 0 8px;
    .swiper-item{
      // font-size: 18px;
      text-align: center;
      padding: 24px 32px;
      border: 1px solid $white;
      border-radius: 8px;
    }
  } 
}


.recommend{
  background: $primary;
  h2{
    position: relative;
    display: flex;
    justify-content: center;
    // text-align: center;
    &::after{
      content: "";
      width: 50px;
      height: 1px;
      background: $info;
      // top: 0;
      bottom: 0;
      position: absolute;
    }
  }
  // .recommend-group{
  //   margin: 0 -12px;
  // }
  .recommend-item{
    // padding: 0 12px;
    .recommend-text{
      background: $secondary;
      border-radius: 24px 24px 0 0;
    }
    // background: red;
    // margin: 0 12px;
    // text-align: center;
    .avatar{
      width: 100px;
      height: 100px;
      img{
      border-radius: 50%;
      width: 100%;
      }
    }
    h3{
      font-size: 20px;
    }
    .recommend-price{
      border-top: 1px solid $white;
      background: $secondary;
      border-radius:0 0 24px 24px;
    }
  }
  .all-recommend-btn{
    width: 172px;
    height: 42px;
    button{
      background-image: linear-gradient(90deg,$info2,$info);
    }
  }
}

.info{
  .info-item{
    // opacity: .5;
    width: 25%;
    // width: 500px;
    height: 500px;
    background-image: url("../../../assets/images/info01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    &::after{
      content: "";
      background: $primary;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.7;
      position: absolute;
      // z-index: -1;
    }
    &:hover{
      &::after{
        z-index: -1;
      }
      .icon span{
        color: $info;
      }
      h2:after{
        background: $info;
        // position: absolute;
      }      
    }
    h2{
      z-index: 5;
      position: relative;
      &::after{
        content: "";
        bottom: 0;
        left: 0;
        width: 50px;
        height: 1px;
        background: #fff;
        position: absolute;
      }      
    }
  }
  .item-2{
    background-image: url("../../../assets/images/info02.jpg");
  }
  .item-3{
    background-image: url("../../../assets/images/info03.jpg");
  }
  .item-4{
    background-image: url("../../../assets/images/info04.jpg");
  }
}


.article{
  background: $secondary;
  .squareRounded {
    display: none;
    width: 32px;
    height: 32px;
    &-topLeft {
      border-top: 2px solid #62DB54;
      border-left: 2px solid #62DB54;
      border-top-left-radius: 10px;
    }
    &-topRight {
      border-top: 2px solid #62DB54;
      border-right: 2px solid #62DB54;
      border-top-right-radius: 10px;
    }
    &-bottomLeft {
      border-bottom: 2px solid #62DB54;
      border-left: 2px solid #62DB54;
      border-bottom-left-radius: 10px;
    }
    &-bottomRight {
      border-bottom: 2px solid #62DB54;
      border-right: 2px solid #62DB54;
      border-bottom-right-radius: 10px;
    }
  }
  .card:hover {
    .squareRounded {
      display: block;
    }
  }
}